*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #f4f4f4;
    color: #333333;
    min-height: 100vh;
    justify-content: center;
    align-items:center;
}
.container{
    width: 100%;
}
/* Navbar*/
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    padding: 0 100px;
    background-color: rgba(255,255,255,0.7);
    position: sticky;
    top: 0;
}
.navbar.logo{
    width: 25% ;
}
.navbar  .logo a{
    text-decoration: none ;
    color: red;
    font-size: 25px;
  
}
.navbar .responsive-nav{
    display: flex;
    width: 75%;
   align-items: center;
   justify-content: space-between;
   margin-left:50px;
}
.navbar .responsive-nav .nav-center{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.navbar .responsive-nav .nav-center li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 20px 60px;
    font-size: 18px;
    display: block;
    transition: all 0.3s linear ;
}
.navbar .responsive-nav .nav-center li:hover a{
     background-color: #333333;
     color: #f4f4f4 ;
}
.navbar .responsive-nav .nav-center li a.active{
    background-color: #333333;
    color: #f4f4f4 ;
}
.container.sticky .logo,
.container .sticky ul li a{
    color:#000;
}
 /*img container*/
 .Img-Container{
    width: 100%;
    height: 94.7vh;
    background-image: url(../image/img-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
 .Img-Container .modal{
    height: 100% ;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center ;
     color: #f4f4f4 ;
 }
 .Img-Container .modal h1{
    font-size: 4.5em;
    text-shadow: 5px 5px 10px #333333;
    margin-bottom: 5px;
 }
 .Img-Container .modal h2{
    font-size: 2.5em;
    text-shadow: 5px 5px 10px #333333;
    margin-top: 5px;
 }
 .Img-Container .modal p{
    font-size: 24px;
    text-shadow: 5px 5px 10px #333333;
    margin-top: 20px;
 }
 .Img-Container .modal a{
    display: block;
    text-decoration: none;
    color: #333333;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 18px;
    background-color: #ffffff;
    border: 1px solid #333333;
    margin-top: 20px;
    transform: all 0.3s linear;
    transition:0.5s;
 }
 .Img-Container .modal a:hover{
    background-color: #333333;
    color: #ffffff;
    border-color: #ffffff ;
 }
/*Province Button*/
.container1{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px 50px;
    padding: 100px 20px;
    margin-left:55px;
    margin-top:50px;

}
.container1 .card{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    width:220px;
    height:170px;
    background:#fff;
    border-radius:20px;
    box-shadow:0 35px 80px rgba(0,0,0,0.15);
    transition:0.5s;
}
.container1 .card:hover{
    height:250px;
}
.container1 .card .imgBx{
    position:absolute;
    top:10px;
    width:200px;
    height:120px;
    background:#333;
    border-radius:12px;
    transition:0.5s;
    overflow:hidden;
}
.container1 .card:hover .imgBx{
    top:-50px;
    scale:0.75;
    box-shadow:0 15px 45px rgba(0,0,0,0.2);
    object-fit:cover;
}
.container1 .card .imgBx img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.container1 .card .content{
    position:absolute;
    text-align:center;
    top:140px;
    overflow:hidden;
    width:100%;
    padding:0 30px;
    height:30px;
    transition:0.5s;
}
.container1 .card:hover .content{
    top:70px;
    height:250px;
}
.container1 .card .content h2{
    font-size:1.17em;
    font-weight:700;
}
.container1 .card .content p{
    font-size:0.9em;
    margin-top:3px;
}
.container1 .card .content a{
    position:relative;
    top:25px;
    display:inline-block;
    padding:10px 25px;
    background:blue;
    color:white;
    font-weight:500;
    text-decoration:none;
    border-radius:10px;
    transition:0.5s;
}
.container1 .card .content a:hover{
    background:rgb(10, 10, 172);
}
/*about(CSS)*/
.table{
    display:flex;
    position:relative;
}
.desc{
    font-family:'Khmer OS Content';
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
    margin-top:30px;
    margin-bottom:15px;
    line-height:40px;
}
.title{
    text-indent:-600px;
    font-family:'Khmer OS Content';
}
